$bg-clr: #eff9ff;
$bg-half-white: #f6f6f6;
$bg-half-white-1: #f2f0f0;
$bg-white: #ffffff;
$bg-grey: #f0f0f0;
$theme-blue: #0067ac;
$border-bg: #2dabff;
$btn-color: #ed1c24;
$heading-font-color: #404040;
$font-color: #58595b;
$font-blue: #003e67;
$card-font-color: #808285;
$para-font-color: #707070;
$btn-hover-color: #b11117;
$footer-text-color: #231f20;
